*{
	-fx-font-family : Tahoma, Arial;
}
.btn {
	-fx-background-repeat: no-repeat;
	-fx-background-position: 10px;
	-fx-font-size: 13px;
	-fx-padding: 10px 10px 10px 35px;
	-fx-text-alignment : center;
	-fx-border-style : solid;
	-fx-border-color : #ccc;	
	-fx-border-width : 1px;	
}

.lbl,
.txt,
.combo,
.txta{
    -fx-padding : 3px ;
    -fx-font-size : 14px;
}

.row{
	-fx-padding : 10px;
	-fx-spacing : 10px;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell{
	-fx-alignment: CENTER-LEFT;
}
.hide{
	visibility : false;
}

.show{
	visibility : true;
}
.btn-row{
	-fx-spacing : 30px;
	-fx-padding : 10px 0px 10px 0px;
}
.btn-save {
	-fx-background-image: url(images/Save.png);
}

.btn-close {
	-fx-background-image: url(images/CANCEL.png);
}

.btn-print {
	-fx-background-image: url(images/printer.png);
}

.btn-edit{
    -fx-background-image: url(images/edit.png);
}

.btn-view{
    -fx-background-image: url(images/eLMIS_View_details.png);
}

.btn-add {
	-fx-background-image: url(images/add.png);
}

.btn-list {
	-fx-background-image: url(images/listtableview.png);
}