.form-container{
	-fx-padding : 100px;
}
.row{
	-fx-padding : 10px;
	-fx-spacing : 10px;	
}

.txtf{
	-fx-padding : 10px;
	-fx-line-height : 30px;
	-fx-max-width : 60px;
}

.addbtn{
	-fx-line-height : 30px;
	-fx-max-width : 60px;
	-fx-fontsize : 30px;
}
.saveVbox{
	-fx-padding : 50px;
}
