.btn{
    -fx-font-size : 14px;
    -fx-padding : 10px 10px 10px 35px;
    -fx-background-repeat : no-repeat;  
    -fx-background-position : 10px;    
}

.labelAdjustmentFor{
    -fx-font-size : 18px;
    -fx-font-weight : bold;
    -fx-padding : 10px 5px;
}
.hbox-transfer-container{
    -fx-spacing : 15px;
}
.hbox-transfer-options{
    -fx-spacing : 10px;
}

.vbox-transfer-options{
    -fx-spacing : 10px;
}
.vbox-adjustments{
    -fx-spacing : 10px;
}
.hbox-buttons{
	-fx-spacing : 10px;
}

.invalid-adjustment-bg{
	-fx-background-color : #F00;
}